# Compiled Object files
*.slo
*.lo
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.lo
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# CLion
.idea/

# CMake
cmake-build-debug/

# Misc
*.dSYM/
*.su
.DS_Store